Package: td-janus
Version: %VERSION%
Maintainer: Tada.team <info@tada.team>
Architecture: all
Section: devel
Description: custom janus build
Depends: gengetopt,
 libconfig-dev,
 libjansson-dev,
 libopus-dev,
 td-libnice-dev,
 td-libsrtp-dev,
 td-libwebsockets-dev
