Package: td-janus
Version: %VERSION%
Maintainer: Tada.team <info@tada.team>
Architecture: all
Section: devel
Description: custom janus build
Depends: gengetopt,
 libconfig-dev,
 libjansson-dev,
 td-libnice-dev=0.1.16,
 td-libsrtp-dev=2.2.0,
 td-libwebsockets-dev=3.2.0
