Source: janus
Section: comm
Priority: optional
Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
Uploaders:
 Jonas Smedegaard <dr@jones.dk>,
 Victor Seva <vseva@debian.org>,
 Saúl Ibarra Corretgé <saul@ag-projects.com>,
Build-Depends:
 debhelper-compat (= 11),
 gengetopt,
 libconfig-dev,
 libjansson-dev,
 libopus-dev,
 td-libnice-dev,
 td-libsrtp-dev,
 td-libwebsockets-dev
Standards-Version: 4.5.1
Vcs-Git: https://salsa.debian.org/pkg-voip-team/janus.git
Vcs-Browser: https://salsa.debian.org/pkg-voip-team/janus
Homepage: https://janus.conf.meetecho.com
Rules-Requires-Root: no

Package: janus
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 gengetopt,
 libconfig-dev,
 libjansson-dev,
 libopus-dev,
 td-libnice-dev,
 td-libsrtp-dev,
 td-libwebsockets-dev
Description: general purpose WebRTC server/gateway
 janus is a general purpose WebRTC server/gateway
 with a minimal footprint.
 .
 As such, it doesn't provide any functionality per se
 other than implementing the means to set up
 a WebRTC media communication with a browser or application,
 exchanging JSON messages with it over different transports,
 and relaying RTP/RTCP and messages between clients
 and the server-side application logic they're attached to.
 Any specific feature/application is provided
 by server side plugins,
 that browsers can then contact via the server
 to take advantage of the functionality they provide.
 .
 Example of such plugins can be implementations of applications
 like echo tests, conference bridges, media recorders,
 SIP gateways and the like.
